body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1{

  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}


h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}



h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}


p{
    line-height: 2;
}
 hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
 }


.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
margin: 100px 0;
}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
a:link{
    color:#11999E;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
  color:black;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
}
.copy-right{
   color: #EAF6F6;
   padding: 20px 0;
}
